body {
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	cursor: pointer;
}

/* BACKGROUND CLOCK */
.clock {
	background: radial-gradient(#FFD194,#D1913C);
    box-sizing: border-box;
    margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	opacity: 0.5;
	z-index: 0;
}

.twelve,
.three,
.six,
.nine {
    background: #fff;
	position: absolute;
}

.twelve {
    height: 10px;
    width: 4px;
}

.three,
.nine {
    height: 4px;
    width: 10px;
}

.twelve {
    left: 50%;
    top: -1px;
}

.three {
    right: -1px;
    top: 50%;
}

.nine {
    left: -1px;
    top: 50%;
}

.hour {
	border-radius: 30px;
    height: 45%;
    width: 4px;
    background: #166288;
    position: absolute;
    left: 50%;
    top: 5%;
    animation: tick 3600s infinite linear;
	-webkit-animation: tick 3600s infinite linear;
}

.minute {
	border-radius: 30px;
    height: 40%;
    width: 4px;
    background: #3a88af;
    position: absolute;
    left: 50%;
    top: 10%;
    animation: tick 60s infinite linear;
	-webkit-animation: tick 60s infinite linear;
}

.second {
	border-radius: 30px;
    height: 35%;
    width: 4px;
    background: #66add1;
    position: absolute;
    left: 50%;
    top: 15%;
    animation: tick 1s infinite linear;
	-webkit-animation: tick 1s infinite linear;
}

.hour, .minute, .second {
    transform-origin: 2px 100%;
    -webkit-transform-origin: 2px 100%;
}

@keyframes tick {
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes tick {
	to {
		-webkit-transform: rotate(360deg);
	}
}
/* BACKGROUND CLOCK */

/* HEADER */ 
.header {
	display: flex;
	justify-content: center;
	background: linear-gradient(#D1913C, #FFD194);
	width: 100%;
	height: 10vh;
}

.inner_header {
	display: flex;
	width: 70%;
	align-items: center;
}

.logo_container, .navigation_container {
	display: flex;
	z-index: 1;
}

.logo_container {
	flex: 2;
}

#home_page {
	color: white;
	font-size: 2rem;
	margin: 0.5em;
	text-decoration: none;
}

.navigation_container {
	flex: 1;
	justify-content: space-around;
	list-style: none;
}

.nav-link {
	color: white;
	font-size: 18px;
	text-decoration: none;
}

.nav-link:hover {
	color: #FFD194;
}
/* HEADER */


/* MOOD CHECK */
.after-header {
	background: linear-gradient(#FFD194, #d6ae7b);
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 90vh;
}

.feeling_container {
	padding-top: 5em;
	z-index: 1;
	color: #fff;
}

.feeling {
	text-decoration: underline;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}

.emoji {
	display: flex;
	justify-content: center;
}

.emoji a {
	padding: 0.4em;
}

#happy:hover {
	color: yellow;
}
#meh:hover {
	color: grey;
}
#sad:hover {
	color: blue;
}
/* MOOD CHECK */

/* BUTTON */

.button_container {
	display: flex;
	justify-content: center;
	z-index: 1;
}

.button {
	display: flex;
	width: 80%;
	width: min-content;
	text-align: center;
	margin: 4em 0 0 0;
}

.btnlink {
    background: linear-gradient(#4ca2cd,#FFD194);
    margin: 0.5em;
    padding: 2.5em;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFF;
	user-select: none;
	transition: all 0.5s ease 0s;
}

.btnlink:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 0.2rem;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}


/* BUTTON */

.goal_container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	margin: auto 0 0 0;
	z-index: 1;
}
/*
@media screen and (max-width: 1300px) {

	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}

	nav {
		position: relative;
	}

	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 0;
		top: 50%;
		transform: translate(-5%, -50%);
	}

	.navigation_container {
		position: absolute;
		opacity: 0;
		margin-top: 10%;
		height: 10vh;
		width: 100%;
		flex-direction: column;
		transition: all 1s ease-in;
		pointer-events: none;
		text-align: center;
		border-radius: 100px;
	}

	.nav-link:hover {
		color: #D1913C;
	}

	.navigation_container.open {
		opacity: 1;
		pointer-events: all;
	}

	.button {
		width: 70%;
		margin: auto;
		display: flex;
		flex-direction: column;
	}

	.button a {
		font-size: 30px;
		padding: 30px;
		word-spacing: 0;
	}

	.ninety-days {
		font-size: 30px;
	}

	.goal_container a {
		font-size: 45px;
	}

	.feeling {
		font-size: 35px;
	}

	.feeling_container a {
		font-size: 45px;
		padding: 20px;
	}
}

@media screen and (max-width: 725px) {
	.logo_container a {
		font-size: 13px;
	}

	.nav-link {
		font-size: 15px;
	}

	.goal_container a {
		font-size: 30px;
	}
}

@media screen and (max-width: 414px) {

	.navigation_container {
		margin-top: 15px;
		justify-content: center;
	}

	.nav-link {
		font-size: 15px;
		float: right;
	}

	.logo_container h4 a {
		font-size: 12px;
	}

	.feeling {
		font-size: 10px;
	}

	.feeling_container a {
		font-size: 20px;
		padding: 7px;
	}

	.feeling_container {
		padding-top: 40px;
	}

	.button a {
		font-size: 15px;
		padding: 18px;
	}

	.goal_container a {
		font-size: 30px;
	}

	.ninety-days {
		font-size: 15px;
	}
}
*/