/* GENERAL STYLES */
body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	cursor: pointer;
}
/* GENERAL STYLES */



/* PAGE BACKGROUND */
@keyframes move-twink-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:-10000px 5000px;
	}
}
@-webkit-keyframes move-twink-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:-10000px 5000px;
	}
}
@-moz-keyframes move-twink-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:-10000px 5000px;
	}
}
@-ms-keyframes move-twink-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:-10000px 5000px;
	}
}

@keyframes move-clouds-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:10000px 0;
	}
}
@-webkit-keyframes move-clouds-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:10000px 0;
	}
}
@-moz-keyframes move-clouds-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:10000px 0;
	}
}
@-ms-keyframes move-clouds-back {
    from {
		background-position: 0;
	}
    to {
		background-position:10000px 0;
	}
}


.stars, .twinkling {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
}

.clouds {
	position: absolute;
	height: 50%;
	top: 0;
	width: 100%;
}

.stars {
	background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
	z-index: -3;
}

.twinkling {
	background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
	z-index: -2; 
	-moz-animation:move-twink-back 200s linear infinite;
	-ms-animation:move-twink-back 200s linear infinite;
	-o-animation:move-twink-back 200s linear infinite;
	-webkit-animation:move-twink-back 200s linear infinite;
	animation:move-twink-back 200s linear infinite;
}

.clouds {
	background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index: -1;
	-moz-animation:move-clouds-back 100s linear infinite;
	-ms-animation:move-clouds-back 100s linear infinite;
	-o-animation:move-clouds-back 100s linear infinite;
	-webkit-animation:move-clouds-back 100s linear infinite;
	animation:move-clouds-back 100s linear infinite;
	opacity: 0.3;
}
/* PAGE BACKGROUND */



/*
<--- FOR DREAM PAGE --->
.dreams {
	position: absolute;
	background: url('https://i.pinimg.com/236x/f6/75/a8/f675a8b6902fc59508ecd1cb9f159c8f--star-foot-tattoos-star-tattoos-for-men.jpg');
	background-size: cover;
	pointer-events: none;
	transform: translate(-50%, -50%);
}
<--- FOR DREAM PAGE --->
*/



/* HEADER */ 
.header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 10vh;
}

.inner_header {
	display: flex;
	width: 70%;
	align-items: center;
}

.logo_container, .navigation_container {
	display: flex;
	z-index: 1;
}

.logo_container {
	flex: 2;
}

#home_page {
	color: white;
	font-size: 2rem;
	margin: 0.5em;
	text-decoration: none;
}

.navigation_container {
	flex: 1;
	justify-content: space-around;
	list-style: none;
}

.nav-link {
	color: white;
	font-size: 18px;
	text-decoration: none;
}

.nav-link:hover {
	color: rgba(46, 229, 157, 0.8);
	transform: rotate(360deg);
}

/* Mobile burger styles */
.burger {
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
	transform: translate(-5%, -50%);
	transition: 0.3s ease;
	display: none;
}
/* Mobile burger styles */

/* HEADER */



/* MOOD CHECK */
.after-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 90vh;
}

.feeling_container {
	padding-top: 5em;
	z-index: 1;
	color: #fff;
}

.feeling {
	text-decoration: underline;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}

.emoji {
	display: flex;
	justify-content: center;
}

.emoji a {
	padding: 0.4em;
}

#happy:hover {
	color: yellow;
	box-shadow: 0px 5px 5px yellow;
}
#meh:hover {
	color: grey;
	box-shadow: 0px 5px 5px grey;
}
#sad:hover {
	color: blue;
	box-shadow: 0px 5px 5px blue;
}
/* MOOD CHECK */



/* MAIN BUTTONS */
.button_container {
	display: flex;
	justify-content: center;
	z-index: 1;
}

.button {
	display: flex;
	width: 80%;
	width: min-content;
	text-align: center;
	margin: 4em 0 0 0;
}

.btnlink {
    background: url(https://cdn.mos.cms.futurecdn.net/paWPwF85Vkcs8YUuyvA3YM-1200-80.jpg);
    margin: 0.5em;
    padding: 2.5em;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFF;
	user-select: none;
	transition: all 0.5s ease 0s;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	word-wrap: 1px;
}

.btnlink:hover {
	color:#fff !important;
	font-weight: 700 !important;
	letter-spacing: 0.2rem;
	transition: all 0.3s ease 0s;
	background: url(https://images.theconversation.com/files/222720/original/file-20180612-52455-d6et0u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=496&fit=clip);
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.8);
	text-shadow: 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000;
}

.goal_container {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: auto 0 0 0;
	width: 100%;
}

#goals {
	z-index: 1;
	color: #fff;
	text-decoration: none;
	transition: 0.3s ease;
}
/* MAIN BUTTONS */



/* GOALS */

.my_goals {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

#goal_page {
	padding: 2em;
}

.goals_form {
	text-align: center;
	margin: auto;
	width: 40%;
	min-width: 500px;
	padding-bottom: 1em;
	background: linear-gradient(#B3FFAB, #12FFF7);
	border-radius: 2em;
}

.goals_form div {
	margin-top: 1.2em;
}

.goals_form input {
	display: block;
	margin: auto;
	width: 80%;
	border: none;
	background: none;
	border-bottom: 2px solid #000;
	font-size: 1rem;
}

.goals_form label {
	font-size: 1.1rem;
	font-weight: 600;
}

.goals_form input:focus {
	outline: none;
	font-weight: 500;
	border-bottom: 3px solid #000;
}

.roadmap {
	text-align: left;
	padding-bottom: 1em;
	border-bottom: 1px solid #000;
}

.progress_list, .based_progress {
	text-align: left;
}

.space {
	padding-left: 1em;
}

/* Instructions part of Form */
#form_instructions {
	display: flex;
	padding: 1.5em;
}

.intro_title {
	font-size: 2rem;
}
.introduction {
	margin: auto;
}

.form_step {
	display: none;
}

/* Validation part of form */
input.invalid {
	border-bottom: 1px solid red;
}

input.valid {
	display: block;
	margin: auto;
	width: 80%;
	border: none;
	background: none;
	border-bottom: 2px solid #000;
	font-size: 1rem;
}

/* Next and previous slide for Form */
.multi_step {
	display: flex;
	margin: auto;
	width: 80%;
}

.multi_step button {
	color: #fff;
	width: 100%;
	border-radius: 40px;
	background: #50497e;
	font-size: 1rem;
	padding: 0.5rem;
	margin-top: 2em;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	outline: none;
	margin: 0.2em;
}

.nextButton {
	width: 60%;
}
.prevButton {
	opacity: 0.7;
	background: #6d64a5;
	width: 40%;
}

.multi_step .prevButton:hover {
	transition: 0.5s ease;
	background: #8179b9;
}

.multi_step .nextButton:hover {
	transition: 0.5s ease;
	background: #6d64a5;
}

/* Delete goals button */
.delete_goals {
	display: flex;
	justify-content: center;
	font-size: 0.75rem;
	text-decoration: none;
	color: #000;
	padding: 0.4em;
	background: none;
	transition: 0.5s ease;
}
.delete_goals:hover {
	transition: 0.5s ease;
	padding: 0.4em 2em;
	color: #fff;
	background: #8360c3;
}

/* Slide show for displaying Goals */
.mySlides {
	display: none;
}

.slide_container {
	display: flex;
	justify-content: space-around;
}

.slide_container a i:hover {
	color: #8360c3;
}
  
/* Fading animation */
.fade {
	-webkit-animation: fade 1.5s;
	animation: fade 1.5s
}
  
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
  
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
/* Slide show for displaying Goals */


/* Edit button for Goals */
.edit_goals {
	color: #000;
	text-decoration: none;
	transition: 0.3s ease;
	padding: 0.5em;
}

.edit_goals:hover {
	background: #8360c3;
	transition: 0.3s ease;
	border-radius: 15px;
	color: #fff;
}
/* Edit button for Goals */


/* Confirm message styling */
.swal-text {
	background-color: #FEFAE3;
	padding: 17px;
	border: 1px solid #F0E1A1;
	display: block;
	margin: 22px;
	text-align: center;
	color: #61534e;
}
/* Confirm message styling */

/* GOALS */

/* Desktops */
@media screen and (min-width: 2000px) {
	.nav-link {
		font-size: 2rem;
	}
	#home_page {
		font-size: 3.5rem;
	}
	.feeling {
		font-size: 2.5rem;
	}
	.emoji a {
		font-size: 3rem;
	}
	.btnlink {
		margin-top: 2.5em;
		font-size: 3rem;
	}
	.goal_parallax {
		font-size: 2rem;		
	}
	.intro_title {
		font-size: 3.5rem;
	}
	.goals_form {
		font-size: 2rem;
	}
	.multi_step button {
		font-size: 2.25rem;
	}
	.goals_form label {
		font-size: 2rem;
	}
	.goals_form input {
		font-size: 1.75rem;
	}
	.delete_goals {
		font-size: 1.5rem;
	}
	.swal-text {
		font-size: 2rem;
	}
}
/* Desktops */


@media screen and (max-width: 1350px) {

	/* MOBILE HEADER */
	.burger div {
		display: block;
	}

	.navigation_container {
		position: absolute;
		background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
		right: 0;
		height: 92vh;
		width: 100%;
		z-index: 5;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-link {
		opacity: 0;
		font-size: 2rem;
	}

	.header-active {
		transform: translateX(0%);
	}

	@keyframes headerFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}

	/* Hamburger > X */
	.toggle .line1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	}
	.toggle .line2 {
		opacity: 0;
	}
	.toggle .line3 {
		transform: rotate(45deg) translate(-5px, -6px);
	}
	/* MOBILE HEADER */

	.feeling {
		font-size: 1.1rem;
	}

	.feeling_container {
		font-size: 0.8rem;
		padding: 20px;
	}

	.button {
		width: 70%;
		margin: auto;
		display: flex;
		/* Switch main buttons to column stack */
		flex-direction: column;
	}

	.btnlink {
		font-size: 2rem;
		padding: 1em;
		word-spacing: 0;
		background: url(https://images.theconversation.com/files/222720/original/file-20180612-52455-d6et0u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=496&fit=clip);
		transition: all 0.3s ease-in 0s;
	}

	.btnlink:hover {
		background: url(https://cdn.mos.cms.futurecdn.net/paWPwF85Vkcs8YUuyvA3YM-1200-80.jpg);
		background-size: cover;
	}

	#goals, .ninety-days {
		font-size: 1.2rem;
	}
}

/* Just for Ipad Pro */
@media only screen and (max-width: 1350px) and (min-width: 1023px) {
	#goal_number {
		font-size: 2.5rem;
	}
	.intro_title {
		font-size: 3rem;
	}
	.introduction p {
		font-size: 1.7rem;
	}
	.intro_end {
		font-size: 1.7rem;
	}
	.multi_step button {
		font-size: 1.75rem;
	}

	.roadmap {
		font-size: 1rem;
	}
	.action_tasks h3 {
		font-size: 2rem;
	}
	.space {
		font-size: 1.35rem;
	}
	.big_goal div {
		font-size: 1.35rem;
	}
}
/* Just for Ipad Pro */


/* Font-size changes */
@media screen and (max-width: 1025px) {
	.btnlink {
		font-size: 2.6rem;
	}
	.feeling {
		font-size: 2rem;
	}
	.emoji a {
		font-size: 2.5rem;
	}
	.ninety-days {
		font-size: 2rem;
	}
	#goals {
		font-size: 1.5rem;
	}
	
	.goals_form {
		min-width: 800px;
	}
	.goals_form label {
		font-size: 1.75rem;
	}
	.goals_form input {
		font-size: 1.65rem;
	}
}

@media screen and (max-width: 845px) {
	#home_page {
		font-size: 1.4rem;
	}

	.button {
		width: 100%;
	}

	.btnlink {
		font-size: 1.75rem;
	}

	.feeling {
		font-size: 0.9rem;
	}

	.emoji a {
		font-size: 1.35rem;
	}
	.goals_form {
		min-width: 600px;
	}
	#goal_number {
		font-size: 1.5rem;
	}
	.goals_form label {
		font-size: 1rem;
	}
	.goals_form input {
		font-size: 1rem;
	}
}

@media screen and (max-width: 620px) {

	#home_page {
		font-size: 1rem;
	}


	.feeling {
		font-size: 0.8rem;
	}

	.emoji a {
		font-size: 1rem;
	}


	.btnlink {
		font-size: 1.2rem;
		padding: 1em;
	}


	#goals {
		font-size: 0.8rem;
	}

	.ninety-days {
		font-size: 0.9rem;
	}


	.goals_form {
		min-width: 250px;
	}
	.goals_form label {
		font-size: 0.6rem;
	}
	.goals_form input {
		font-size: 0.5rem;
	}
	#goal_number {
		font-size: 1rem;
	}

	.intro_title {
		font-size: 1.2rem;
	}
	.introduction p {
		font-size: 0.65rem;
	}
	.intro_end {
		font-size: 0.6rem;
	}
	
	.roadmap {
		font-size: 0.5rem;
	}
	.delete_goals {
		font-size: 0.5rem;
	}
	.action_tasks h3 {
		font-size: 0.75rem;
	}
	.space {
		font-size: 0.5rem;
	}
	.big_goal div {
		font-size: 0.5rem;
	}


	.swal-text {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 330px) {
	#home_page {
		font-size: 0.9rem;
	}
}
/* Font-size changes */



.signupSection {
	background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	text-align: center;
	display: flex;
	color: white;
}

.intro_signup {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 45%;
	background: rgba(20, 20, 20, .8);
	padding: 2em 0;
}

.intro_signup h2 {
	font-weight: 300;
}

.icon {
	font-size: 7em;
	color: rgba(10, 180, 180, 1);
}

.signupForm {
	width: 70%;
	padding: 3.5em 0;
	background: rgba(20, 40, 40, .8);
	transition: .2s;
}

.signupForm h2 {
	font-weight: 300;
	margin-bottom: 1em;
}

.inputFields {
	margin: 0.8em 0;
	font-size: 1rem;
	padding: 0.6em;
	width: 55%;
	border: 1px solid rgba(10, 180, 180, 1);
	border-top: none;
	border-left: none;
	border-right: none;
	background: rgba(20, 20, 20, .2);
	color: white;
	outline: none;
}

.noBullet {
	list-style-type: none;
	padding: 0;
}

#signupIcons {
	color: rgba(10, 180, 180, 1);
}

.join-btn {
	border: 1px solid rgba(10, 180, 180, 1);
	background: rgba(20, 20, 20, .6);
	font-size: 1.3rem;
	color: white;
	margin-top: 1em;
	padding: 0.5em 3em;
	cursor: pointer;
	transition: .4s;
}

.join-btn:hover {
	background: rgba(20, 20, 20, .8);
	padding: 0.5em 4em;
}

.switch {
	margin: 2em;
}

.switch a {
	color: rgba(10, 180, 180, 1);
}