/* GENERAL STYLES */
body {
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	cursor: pointer;
}
/* GENERAL STYLES */

/* PAGE BACKGROUND */
@keyframes move-twink-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:-10000px 5000px;
	}
}
@-webkit-keyframes move-twink-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:-10000px 5000px;
	}
}
@-moz-keyframes move-twink-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:-10000px 5000px;
	}
}
@-ms-keyframes move-twink-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:-10000px 5000px;
	}
}

@keyframes move-clouds-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:10000px 0;
	}
}
@-webkit-keyframes move-clouds-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:10000px 0;
	}
}
@-moz-keyframes move-clouds-back {
    from {
		background-position:0 0;
	}
    to {
		background-position:10000px 0;
	}
}
@-ms-keyframes move-clouds-back {
    from {
		background-position: 0;
	}
    to {
		background-position:10000px 0;
	}
}


.stars, .twinkling {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
}

.clouds {
	position: absolute;
	height: 50%;
	top: 0;
	width: 100%;
}

.stars {
	background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
	z-index: -3;
}

.twinkling {
	background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
	z-index: -2; 
	-moz-animation:move-twink-back 200s linear infinite;
	-ms-animation:move-twink-back 200s linear infinite;
	-o-animation:move-twink-back 200s linear infinite;
	-webkit-animation:move-twink-back 200s linear infinite;
	animation:move-twink-back 200s linear infinite;
}

.clouds {
	background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index: -1;
	-moz-animation:move-clouds-back 100s linear infinite;
	-ms-animation:move-clouds-back 100s linear infinite;
	-o-animation:move-clouds-back 100s linear infinite;
	-webkit-animation:move-clouds-back 100s linear infinite;
	animation:move-clouds-back 100s linear infinite;
	opacity: 0.3;
}
/* PAGE BACKGROUND */


/*
<--- FOR DREAM PAGE --->
.dreams {
	position: absolute;
	background: url('https://i.pinimg.com/236x/f6/75/a8/f675a8b6902fc59508ecd1cb9f159c8f--star-foot-tattoos-star-tattoos-for-men.jpg');
	background-size: cover;
	pointer-events: none;
	transform: translate(-50%, -50%);
}
<--- FOR DREAM PAGE --->
*/

/* HEADER */ 
.header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 10vh;
}

.inner_header {
	display: flex;
	width: 70%;
	align-items: center;
}

.logo_container, .navigation_container {
	display: flex;
	z-index: 1;
}

.logo_container {
	flex: 2;
}

#home_page {
	color: white;
	font-size: 2rem;
	margin: 0.5em;
	text-decoration: none;
}

.navigation_container {
	flex: 1;
	justify-content: space-around;
	list-style: none;
}

.nav-link {
	color: white;
	font-size: 18px;
	text-decoration: none;
}

.nav-link:hover {
	color: rgba(46, 229, 157, 0.8);
	transform: rotate(360deg);
}

/* Mobile burger styles */
.burger {
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
	transform: translate(-5%, -50%);
	transition: 0.3s ease;
	display: none;
}
/* Mobile burger styles */

/* HEADER */


/* MOOD CHECK */
.after-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 90vh;
}

.feeling_container {
	padding-top: 5em;
	z-index: 1;
	color: #fff;
}

.feeling {
	text-decoration: underline;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}

.emoji {
	display: flex;
	justify-content: center;
}

.emoji a {
	padding: 0.4em;
}

#happy:hover {
	color: yellow;
	box-shadow: 0px 5px 5px yellow;
}
#meh:hover {
	color: grey;
	box-shadow: 0px 5px 5px grey;
}
#sad:hover {
	color: blue;
	box-shadow: 0px 5px 5px blue;
}
/* MOOD CHECK */

/* MAIN BUTTONS */
.button_container {
	display: flex;
	justify-content: center;
	z-index: 1;
}

.button {
	display: flex;
	width: 80%;
	width: min-content;
	text-align: center;
	margin: 4em 0 0 0;
}

.btnlink {
    background: url(https://cdn.mos.cms.futurecdn.net/paWPwF85Vkcs8YUuyvA3YM-1200-80.jpg);
    margin: 0.5em;
    padding: 2.5em;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFF;
	user-select: none;
	transition: all 0.5s ease 0s;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	word-wrap: 1px;
}

.btnlink:hover {
	color:#fff !important;
	font-weight: 700 !important;
	letter-spacing: 0.2rem;
	transition: all 0.3s ease 0s;
	background: url(https://images.theconversation.com/files/222720/original/file-20180612-52455-d6et0u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=496&fit=clip);
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.8);
	text-shadow: 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000;
}

.goal_container {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: auto 0 0 0;
	width: 100%;
}

#goals {
	z-index: 1;
	color: #fff;
	text-decoration: none;
	transition: 0.3s ease;
}

#goals:hover {
	font-size: 2rem;
}
/* MAIN BUTTONS */


@media screen and (max-width: 1350px) {

	body {
		overflow-x: hidden;
	}

	/* MOBILE HEADER */
	.burger div {
		display: block;
	}

	.navigation_container {
		position: absolute;
		background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
		right: 0;
		height: 92vh;
		width: 100%;
		z-index: 5;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-link {
		opacity: 0;
		font-size: 2rem;
	}

	.header-active {
		transform: translateX(0%);
	}

	@keyframes headerFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}

	/* Hamburger > X */
	.toggle .line1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	}
	.toggle .line2 {
		opacity: 0;
	}
	.toggle .line3 {
		transform: rotate(45deg) translate(-5px, -6px);
	}
	/* MOBILE HEADER */

	.feeling {
		font-size: 1.1rem;
	}

	.feeling_container {
		font-size: 0.8rem;
		padding: 20px;
	}

	.button {
		width: 70%;
		margin: auto;
		display: flex;
		/* Switch main buttons to column stack */
		flex-direction: column;
	}

	.btnlink {
		font-size: 2rem;
		padding: 1em;
		word-spacing: 0;
		background: url(https://images.theconversation.com/files/222720/original/file-20180612-52455-d6et0u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=496&fit=clip);
		transition: all 0.3s ease-in 0s;
	}

	.btnlink:hover {
		background: url(https://cdn.mos.cms.futurecdn.net/paWPwF85Vkcs8YUuyvA3YM-1200-80.jpg);
		background-size: cover;
	}

	#goals, .ninety-days {
		font-size: 1.2rem;
	}
}

/* Font-size changes */
@media screen and (max-width: 1025px) {
	.btnlink {
		font-size: 2.6rem;
	}
	.feeling {
		font-size: 2rem;
	}
	.emoji a {
		font-size: 2.5rem;
	}
	.ninety-days {
		font-size: 2rem;
	}
	#goals {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 769px) {
	#home_page {
		font-size: 1.4rem;
	}

	.button {
		width: 100%;
	}

	.btnlink {
		font-size: 1.75rem;
	}

	.feeling {
		font-size: 0.9rem;
	}

	.emoji a {
		font-size: 1.35rem;
	}
}

@media screen and (max-width: 470px) {

	#home_page {
		font-size: 1rem;
	}

	.feeling {
		font-size: 0.8rem;
	}

	.emoji a {
		font-size: 1rem;
	}

	.btnlink {
		font-size: 1.2rem;
		padding: 1em;
	}

	#goals {
		font-size: 1.5rem;
	}

	.ninety-days {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 330px) {
	#home_page {
		font-size: 0.9rem;
	}
}
/* Font-size changes */


/* GOALS */
.my_goals {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

#goal_form {
	padding: 2em;
}

.goals_form {
	text-align: center;
	margin: auto;
	width: 40%;
	min-width: 500px;
	padding-bottom: 1em;
	background:#fff;
}

.goals_form div {
	margin-top: 1.2em;
}

.goals_form input {
	display: block;
	margin: auto;
	width: 80%;
	border: none;
	border-bottom: 2px solid #000;
	font-size: 1rem;
}

.goals_form label {
	font-size: 1.1rem;
	font-weight: 600;
}

.goals_form input:focus {
	outline: none;
	font-weight: 500;
	border-bottom: 3px solid #000;
}

.form_step {
	display: none;
}

input.invalid {
	background-color: #ffdddd;
}

.multi_step {
	display: flex;
	margin: auto;
	width: 80%;
}

.multi_step button {
	color: #fff;
	border-radius: 40px;
	background: #50497e;
	font-size: 1rem;
	padding: 0.5rem;
	margin-top: 2em;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	outline: none;
	margin: 0.2em;
}

#nextBtn {
	width: 60%;
}
#prevBtn {
	opacity: 0.7;
	background: #6d64a5;
	width: 40%;
}

.multi_step #prevBtn:hover {
	transition: 0.5s ease;
	background: #8179b9;
}

.multi_step #nextBtn:hover {
	transition: 0.5s ease;
	background: #6d64a5;
}
/* GOALS */