{% extends 'journal/base.html' %}

{% block title %}Daily Recap Collection{% endblock %}

{% block content %}

    <!-- Add a query search bar here -->

    {% for data in recapData %}
    <!-- Im using the same format for "daily recap" as I did with "my goals" page -->
        <div class="my_goals">
            <div class="goals_form" id="goal_page" style="color: #000;">
                <p>{{ request.user }} - Daily Recap #{{ forloop.counter }} - {{ data.created_date }}</p>
                <div>
                    <label><h3>My Gratitude List</h3></label>
                    <ul class="progress_list">
                        <li class="space"> 
                            {{ data.gratitude1 }}
                        </li>
                        <li class="space"> 
                            {{ data.gratitude2 }}                
                        </li>
                        <li class="space"> 
                            {{ data.gratitude3 }}
                        </li>
                    </ul>
                </div>
                <div>
                    <label><h3>My Wins</h3></label>
                    <ul class="progress_list">
                        <li class="space"> 
                            {{ data.win1}}
                        </li>
                        <li class="space"> 
                            {{ data.win2 }}                
                        </li>
                        <li class="space"> 
                            {{ data.win3 }}
                        </li>
                    </ul>
                </div>
                <div class="big_goal">
                    <label><h3>My Favorite Thing About Today</h3></label>
                    <div>
                        {{ data.favoriteThing}}
                    </div>
                </div>
                <div class="big_goal">
                <label><h3>Lessons Learned Today</h3></label>
                    <div>
                        {{ data.lessonsLearned}}
                    </div>
                </div>
                <div class="big_goal">
                <label><h3>How I Can Do Better Tomorrow</h3></label>
                    <div>
                        {{ data.lessonsLearned}}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}