{% extends 'journal/base.html' %}

{% load fullcalendar_tags %}

{% block title %}Daily Journal{% endblock %}

{% block content %}

    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar('render');
            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaDay,agendaWeek'
                },
                events: [
                    {% for event in events %}
                        {
                            title: "{{ event.name }}",
                            start: '{{ event.start|date:"Y-m-d H:i:s" }}',
                            end: '{{ event.end|date:"Y-m-d H:i:s" }}',
                            id: '{{ event.id }}',
                            value: '{{ event.value }}',
                        },
                    {% endfor %} 
                ],
                selectable: true,
                selectHelper: true,
                editable: true,
                eventLimit: true,             
                defaultView: 'agendaDay',
                allDaySlot: false,
                allDayDefault: false,
                axisFormat: 'h(:mm)tt',
                defaultEventMinutes: 1440,
                dragOpacity: {
                    agenda: .5
                },
                contentHeight: 800,
                // viewDisplay   : function(view) {
                //     var now = new Date(); 
                //     var end = new Date();
                //     end.setMonth(now.getMonth() + 3); //Adjust as needed

                //     var cal_date_string = view.start.getMonth()+'/'+view.start.getFullYear();
                //     var cur_date_string = now.getMonth()+'/'+now.getFullYear();
                //     var end_date_string = end.getMonth()+'/'+end.getFullYear();

                //     if(cal_date_string == cur_date_string) { jQuery('.fc-button-prev').addClass("fc-state-disabled");
                //     } 
                //     else { jQuery('.fc-button-prev').removeClass("fc-state-disabled"); }

                //     if (end_date_string == cal_date_string) { jQuery('.fc-button-next').addClass("fc-state-disabled");
                //     }
                //     else { jQuery('.fc-button-next').removeClass("fc-state-disabled"); }
                // },
                select: function (start, end) {
                    var title;
                    start = $.fullCalendar.formatDate(start, 'yyyy-MM-dd HH:mm:ss');
                    end = $.fullCalendar.formatDate(end, 'yyyy-MM-dd HH:mm:ss');
                    var eventData = {}
                    var eventTitle = document.createElement('input');
                    eventTitle.setAttribute("placeholder", "Title");
                    eventTitle.className = "swal-content__input";
                    eventTitle.autofocus = true;
                    swal({
                        title: "Calendar Form",
                        content: eventTitle,
                        buttons: {
                            bigevent: {
                                text: "Big event",
                            },
                            event: {
                                text: "Event",
                            },
                            reminder: {
                                text: "Reminder",
                            },
                            task: {
                                text: "Task",
                            },
                        },
                    })
                    .then((value) => {
                        title = eventTitle.value;
                        if (title) { 
                            if (value == "bigevent") {
                                var eventStartDate = document.createElement('input');
                                eventStartDate.setAttribute("type", "datetime-local");
                                eventStartDate.setAttribute("placeholder", "Start Date");
                                eventStartDate.className = "swal-content__input";
                                swal({
                                    title: "Event Start Date",
                                    content: eventStartDate,
                                    buttons: {
                                        done: {
                                            text: "Done",
                                        },
                                    },
                                })
                                .then((value) => {
                                    if (eventStartDate.value.length == 16) {
                                        start = eventStartDate.value
                                    }
                                    var eventEndDate = document.createElement('input');
                                    eventEndDate.setAttribute("type", "datetime-local");
                                    eventEndDate.setAttribute("placeholder", "End Date");
                                    eventEndDate.className = "swal-content__input";
                                    swal({
                                        title: "Event End Date",
                                        content: eventEndDate,
                                        buttons: {
                                            done: {
                                                text: "Done",
                                            },
                                        },
                                    })
                                    .then((value) => {
                                        if (eventEndDate.value.length == 16) {
                                            end = eventEndDate.value
                                        }
                                        eventData = {
                                            title: title,
                                            start: start,
                                            end: end,
                                            value: value
                                        };
                                        $.ajax({
                                            type: "GET",
                                            url: '{% url "add_event" %}',
                                            data: {'title': title, 'start': start, 'end': end, 'value': value},
                                            dataType: "json",
                                            success: function (data) {
                                                $('#calendar').fullCalendar('renderEvent', eventData, true);
                                            },
                                            failure: function (data) {
                                                alert('There is a problem!!!');
                                            }
                                        });
                                    })
                                })
                            } 
                            else { 
                                eventData = {
                                    title: title,
                                    start: start,
                                    end: end,
                                    value: value
                                };
                                $.ajax({
                                    type: "GET",
                                    url: '{% url "add_event" %}',
                                    data: {'title': title, 'start': start, 'end': end, 'value': value},
                                    dataType: "json",
                                    success: function (data) {
                                        $('#calendar').fullCalendar('renderEvent', eventData, true);
                                    },
                                    failure: function (data) {
                                        alert('There is a problem!!!');
                                    }
                                });
                            }
                        }
                    });
                },
                eventRender: function(event, element, value) {
                    if (event.value == "task") {
                        element.css("background", "#0CB4B4")
                        element.css("border-color", "#0CB4B4")   
                    }
                    else if (event.value == "reminder") {
                        element.css("background", "red")
                        element.css("border-color", "red")
                    } 
                    else {
                        element.css("background", "rgba(0,0,0,0.9)")
                        element.css("border-color", "rgba(0,0,0,0.9)")                      
                    }
                },
                eventResize: function (event) {
                    var start = $.fullCalendar.formatDate(event.start, 'yyyy-MM-dd HH:mm:ss');
                    var end = $.fullCalendar.formatDate(event.end, 'yyyy-MM-dd HH:mm:ss');
                    var title = event.title;
                    var value = event.value
                    var id = event.id;
                    calendar.fullCalendar('unselect');
                    $.ajax({
                        type: "GET",
                        url: '/update',
                        data: {'title': title, 'start': start, 'end': end, 'value': value, 'id': id},
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                        },
                        failure: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                },

                eventDrop: function (event) {
                    var start = $.fullCalendar.formatDate(event.start, 'yyyy-MM-dd HH:mm:ss');
                    var end = $.fullCalendar.formatDate(event.end, 'yyyy-MM-dd HH:mm:ss');
                    var title = event.title;
                    var value = event.value
                    var id = event.id;
                    $.ajax({
                        type: "GET",
                        data: {'title': title, 'start': start, 'end': end, 'value': value, 'id': id},
                        dataType: "json",
                        url: '/update',
                        success: function (data) {
                            calendar.fullCalendar('refetchEvent');
                        },
                        failure: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                },

                eventClick: function (event) {
                    var id = event.id;
                    swal({
                        dangerMode: true,
                        buttons: ["Keep it!", "DELETE FROM CALENDAR"],
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                type: "GET",
                                url: '/remove',
                                data: {'id': id},
                                dataType: "json",
                                success: function (data) {
                                    $('#calendar').fullCalendar('removeEvents', id);  
                                },
                                failure: function (data) {
                                    alert('There is a problem!!!');
                                }
                            });
                        }
                    });
                },
            });
        });

    </script>
    <div class="main_journal_container">
        {% fullcalendar_css %}        
        {% fullcalendar_print_css %}        
        {% fullcalendar_jquery %}
        {% fullcalendar_jquery_ui %}
        {% fullcalendar_javascript %}

        <!-- <form action="" method="POST" autocomplete="off" class="EventForm" id="EventForm">
            {% csrf_token %}
            <h1>Event Form</h1>
            <input type="text" placeholder="Title" class="inputFields" id="eventTitle" autofocus>
            <input type="textarea" placeholder="Description" class="inputFields" id="eventDescription">
            <input type="datetime-local" class="inputFields" id="eventStartDate">
            <input type="datetime-local" class="inputFields" id="eventEndDate">
            <div>
                <button class="eventButtons" id="taskButton">Task</button>
                <button class="eventButtons" id="reminderButton">Reminder</button>
                <button class="eventButtons" id="eventButton">Event</button>
                <div>
                    <a class="eventButtons" id="cancelButton">Cancel</a>
                </div>
            </div>
        </form> -->

        <div class="container">
            <div id="calendar" style="background-color: white"></div>
        </div>
    </div>


    <!-- <div class="daily_journal_header">
        Date + Day of the week + Day of 90 day sprint 
    </div> -->
        <!-- <div class="daily_journal_container">
            <div class="journal_container">
                <h1>Daily Schedule</h1>
            </div>
            <div class="journal_spacing">
                <span></span>
            </div>
            <div class="task_container">
                <h1>To Do</h1>
                <form method="POST" action="{% url 'daily_journal' %}">
                    {% csrf_token %}
                    <p>{{ taskForm.title }}</p>
                    <input style="display: none" type="submit" value="Enter">
                </form>
                {% for task in tasks %}
                    <div class="todo_list">
                        Add JS to make delete fade nice
                        <a href="{% url 'task_delete' pk=task.pk %}">
                            <p class="far fa-square"></p>
                            <p class="far fa-check-square"></p>
                        </a>
                        {{ task }}
                    </div>
                {% endfor %}
            </div>
        </div> -->

{% endblock %}