{% extends 'journal/base.html' %}

{% block title %}Create Dream{% endblock%}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="dream_container">
            <h2>{{ dreamForm.title }}</h2>
            <p>{{ dreamForm.text }}</p>
        </div>
        <div class="dream_button_container">
            <a class="dream_create" id="dreamList" href="{% url 'dream_list' %}">Dream List</a>
            <button type="submit" class="dream_create">Save</button>
        </div>
    </form>

{% endblock%}