{% extends 'journal/base.html' %}

{% block title %}Dreams{% endblock%}

{% block content %}

    <div class="dream_list_container">
        <form method="GET" action="{% url 'dream_search' %}" value="{{ request.GET.q }}">
            <div class="search">
                <input type="text" name="q" class="searchTerm" placeholder="Search for dream '2020-05-27/title/keyword'" value="{{ request.GET.q }}">
                <button type="submit" class="searchButton" value="Search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        {% for dream in dreams %}
            <div class="inputFields" id="displayDreams" onclick="location.href='{{ dream.id }}/edit/'">
                <div class="date">
                    <p>{{ dream.created_date }}</p>
                </div>
                <div class="edit_dream">
                    <p>EDIT</p>
                </div>
                <p class="dream_title">{{ dream.title }}</p>
                <p>{{ dream.text | truncatechars:75 }}</p>
            </div>
        {% endfor %}
        <div id="dreamSidebar" class="dream_sidebar">
            <a id="closeSidebar" href="javascript:void(0)">&times;</a>
            <a href="{% url 'dream_create' %}">Create</a>
            <a href="{% url 'dreams_download' %}">Download</a>
            <a href="{% url 'dreams_delete' %}">Delete</a>
        </div>
        <div id="sidebarFunction">
            <button id="expandSidebar" class="fas fa-arrow-right"></button>
        </div>
    </div>


{% endblock%}
