{% extends 'journal/base.html' %}

{% block title %}Event{% endblock %}

{% block content %}
    <div class="calendar_btn_container">
        <a id="calendarButtons" href="{% url 'calendar' %}"><i class="fas fa-arrow-left"></i></a>
        <!-- If the event already exists, display delete button-->
        {% if event_id %}
            <a class="event_delete" id="calendarButtons" href="{% url 'event_delete' event_id %}"> Delete </a>
        {% endif %}        
    </div>
    
    <form method="post">
        {% csrf_token %}
        <table class="event_form">
            {{ eventForm }}
            <tr><td colspan="2"><button class="event_submit" type="submit" id="calendarButtons"> Submit </button></td></tr>
        </table>
    </form>
    

{% endblock %}