{% extends 'journal/base.html' %}

{% block title %}My Goals{% endblock %}

{% block content %}
{% for goal in goal_page %}
    <div class="my_goals">
        <form class="goals_form" id="goal_form">
            <p class="roadmap">13-Week Roadmap - The big Idea - Goal 1 - {{ goal.created_date }}</p>
            <div class="big_goal">
                <label><h2>My Big Goal #1</h2></label>
                {{ goal.goal }}
            </div>
            <div class="big_goal">
                <label for="{{ form.goal_important.id_for_label }}"><h3>This goal is important to me because...</h3></label>
                {{ goal.goal_important}}
            </div>
            <div>
                <label><h3>My Progress Goals</h3></label>
                <ol class="progress_list">
                    <li> 
                        {{ goal.progress_1 }}
                    </li>
                    <li> 
                        {{ goal.progress_1 }}                
                    </li>
                    <li> 
                        {{ goal.progress_1 }}
                    </li>
                </ol>
            </div>
            <div class="action_tasks">
                <h3>My Actions & Tasks</h3>
            </div>
            <div class="based_progress">
                <label><h5>Based on Progress Goal #1:</h5></label>
                    <ol>
                        <li> 
                            {{ goal.deeper_progress_1 }}   
                        </li>
                        <li> 
                            {{ goal.deeper_progress_2 }}  
                        </li>
                        <li> 
                            {{ goal.deeper_progress_3 }}
                        </li>
                    </ol>
            </div>
            <div class="based_progress">
                <label><h5>Based on Progress Goal #2:</h5></label>
                <ol>
                    <li> 
                        {{ goal.deeper_progress_4 }}
                    </li>
                    <li> 
                        {{ goal.deeper_progress_5 }}
                    </li>
                    <li> 
                        {{ goal.deeper_progress_6 }}
                    </li>
                </ol>
            </div>
            <div class="based_progress">
                <label><h5>Based on Progress Goal #1:</h5></label>
                <ol>
                    <li> 
                        {{ goal.deeper_progress_7 }}
                    </li>
                    <li> 
                        {{ goal.deeper_progress_8 }}
                    </li>
                    <li> 
                        {{ goal.deeper_progress_9 }}
                    </li>
                </ol>
            </div>
            <button><a href="{% url 'goals_delete' %}">DELETE</a></button>
        </form>
    </div>
{% endfor %}



{% endblock %}