{% extends 'journal/base.html' %} 

{% block title %}Journal{% endblock %}
{% block content %}

<section class="after-header">
    <div class="feeling_container">
        <h3 class="feeling">How are you feeling today?</h3>
        <div class="emoji">
            <a class="far fa fa-smile-beam fa-2x" id="happy"></a>
            <a class="far fa fa-meh fa-2x" id="meh"></a>
            <a class="far fa fa-sad-tear fa-2x" id="sad"></a>
        </div>
    </div>
    <div class="button_container">
        <div class="button">
            <a class="btnlink">Dreams</a>
            <a class="btnlink">Daily Journal</a>
            <a class="btnlink">Weekly Journal</a>
            <a class="btnlink">Monthly Journal</a>
        </div>
    </div>
    <div class="goal_container">
        <div class="goals">
            <a><h3 class="ninety-days">90 DAY GOALS</h3></a>
            <a class="fas fa fa-angle-double-down fa-2x" id="goals"><span></a>
        </div>
    </div>
</section>
<!--
<svg>
    <filter id="wavy">
        <feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="2">
            <animate attributeName="baseFrequency" dur="0s" values="0.05;0.02;0.02" repeatCount="indefinite"/>
        </feTurbulence>
        <feDisplacementMap in="SourceGraphic" scale="5"/>
    </filter>
</svg>
-->

{% endblock %}