{% extends 'journal/base.html' %} 
<!-- Need to load in Crispy forms before use -->
{% load crispy_forms_tags %}

{% block title %}Journal{% endblock %}
{% block content %}

    <section class="after-header" id="AF">
        <!-- DAILY MOOD -->
        <div class="inspiration_container">
            <!-- No Y axis so the parallax movement is completely horizontal -->
            <h2 class="quote_button" data-rateY="0" data-rateX="5" data-direction="horizontal"><span onclick="this.blur();quote();"><i class="fa fa-lightbulb-o"></i><b> See Inspirational Quote </b><i class="fa fa-lightbulb-o"></i></h2></span></h2>
            <div class="emoji">
                <div class="col-xs-10 col-xs-offset-1 visible-sm visible-md visible-lg">
                    <h1 id="quote" class="quote" data-rateY="0" data-rateX="-5" data-direction="horizontal"></h1>
                    <h3 id="quoteAuthor" class="quote" data-rateY="0" data-rateX="-5" data-direction="horizontal"></h3>
                </div>
            </div>
        </div>

        <!-- MAIN PAGE -->
        <div class="button_container">
            <div class="button">
                <a class="btnlink" href="{% url 'dream_create' %}" data-rateY="0" data-rateX="-2" data-direction="horizontal">Dream Journal</a>
                <a class="btnlink" href="{% url 'notes_journal' %}" data-rateY="0" data-rateX="2" data-direction="horizontal">Notes Journal</a>
                <a class="btnlink" id="mobileFalse" href="{% url 'calendarr' %}" data-rateY="0" data-rateX="-2" data-direction="horizontal">Daily Journal</a>
                <a class="btnlink" href="{% url 'daily_journal' %}" data-rateY="0" data-rateX="2" data-direction="horizontal">ToDo Journal</a>
            </div>
        </div>
        <div class="goal_container">
            <a id="goals" href="#bottom_of_homepage" onclick="anchor()" class="goal_parallax" data-rateY="0" data-rateX="-5" data-direction="horizontal"><h3>90 DAY GOALS<br></h3><h3 class="fas fa fa-angle-double-down fa-2x"></h3></a>
        </div>
        <!-- MAIN PAGE -->
    </section>

    <!-- GOALS FORM -->
    <section id="Goals">
        <div class="my_goals">
            <form id="form_for_goals" class="goals_form" method="POST" action="{% url 'index' %}" autocomplete="off">
                {% csrf_token %}
                <!-- Django needs this for formsets organizing -->
                {{ goals.management_form }}

                <!-- Intro to form -->
                <div class="form_step" id="form_instructions">
                    <i class="far fa-clock fa-6x"></i>
                    <h1 class="intro_title">This is your 90 day sprint!</h1>
                    <div class="introduction">
                        <p>Create 3 different goals to accomplish in the next 90 days. You're 3 goals
                        will be broken down into smaller wins to make them manageable.
                        These goals can be related to any part of your life that your looking to improve. EX: 
                        work, health, relationships, etc... </p>
                    </div>
                    <div>
                        <h5 class="intro_end">Make sure to download your dreams, goals and daily recap collection from your previous sprint before starting a new one because it will all be cleared!</h5>
                    </div>
                </div>

                <!-- Looping through multiple of the same form in a formset -->
                {% for goal in goals %}
                    <div class="form_step">
                        <!-- forloop.counter is a built in Django function -->
                        <h1 id="goal_number">My Big Goal #{{ forloop.counter }}</h1>
                        <!-- crispy helps with styling -->
                        {{ goal|crispy }}
                    </div>
                {% endfor %}

                <!-- Navigation through form slides -->
                <div class="multi_step">
                    <button type="button" class="prevButton" id="prevBtn">Previous</button>
                    <button type="button" class="nextButton" id="nextBtn">Next</button>
                </div> 

            </form>
        </div>
    </section>
    <!-- GOALS FORM -->

    <!-- COUNTDOWN TIMER -->
    <section class="countdownContainer" id="Countdown">
        <table class="countdownTable" id="bottom_of_homepage">
            <!-- TITLE -->
            <tr class="countdownTitle">
                <td colspan="4">90 DAY SPRINT</td>
            </tr>
            <!-- TIMES -->
            <tr class="countdownNumber">
                <td id="days">90</td>
                <td id="hours">00</td>
                <td id="minutes">00</td>
                <td id="seconds">00</td>
            </tr>
            <!-- LABELS -->
            <tr>
                <td>Days</td>
                <td>Hours</td>
                <td>Minutes</td>
                <td>Seconds</td>
            </tr>
        </table>
    </section>
    <!-- COUNTDOWN TIMER -->

    <script>
        function anchor() {
            var anchor = document.getElementById("goals")
            var countdown = document.getElementsByClassName('countdownContainer')
            var createGoals = document.getElementsByClassName('my_goals')
            if (createGoals[0].style.display == 'flex') {
                anchor.href = '#form_for_goals'
            }
        }
    </script>

{% endblock %}