{% extends 'journal/base.html' %}

{% block title %}Todo Journal{% endblock %}

{% block content %}

    <div class="daily_journal_header">
        Date + Day of the week + Day of 90 day sprint 
    </div>
        <div class="daily_journal_container">
            <div class="journal_container">
                <h1>Daily Recap</h1>
                <form action="" method="POST" class="recapForm">
                    {% csrf_token %}
                    <div class="recapContainer">
                        <div class="gratitudeList">
                            <h3>Gratitude List</h3>
                            <ol>
                                <li>{{ recapForm.gratitude1 }}</li>
                                <li>{{ recapForm.gratitude2 }}</li>
                                <li>{{ recapForm.gratitude3 }}</li>
                            </ol>
                        </div>
                        <div class="dailyWins">
                            <h3>My Daily Wins</h3>
                            <ol>
                                <li>{{ recapForm.win1 }}</li>
                                <li>{{ recapForm.win2 }}</li>
                                <li>{{ recapForm.win2 }}</li>
                            </ol>
                        </div>
                        <div class="recapSubmit">
                            <a href="{% url 'daily_journal' %}">Submit Daily Recap</a>
                        </div>
                    </div>
                    <div class="recapContainer">
                        <div class="favoriteThing">
                            <h3>Favorite Thing About Today?</h3>
                            {{ recapForm.favoriteThing }}
                        </div>
                        <div class="lessonsLearned">
                            <h3>Lessons Learned Today?</h3>
                            {{ recapForm.lessonsLearned }}
                        </div>
                        <div class="beBetter">
                            <h3>How Can I be Better Tomorrow?</h3>
                            {{ recapForm.betterTomorrow }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="journal_spacing">
                <span></span>
            </div>
            <div class="task_container">
                <h1>To Do</h1>
                <form method="POST" action="{% url 'daily_journal' %}">
                    {% csrf_token %}
                    <p>{{ taskForm.title }}</p>
                    <input style="display: none" type="submit" value="Enter">
                </form>
                {% for task in tasks %}
                    <div class="todo_list">
                        <!-- Add JS to make delete fade nice -->
                        <a href="{% url 'task_delete' pk=task.pk %}">
                            <p class="far fa-square"></p>
                            <p class="far fa-check-square"></p>
                        </a>
                        {{ task }}
                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}
