{% extends 'journal/base.html' %}

{% block title %}Todo Journal{% endblock %}

{% block content %}

    <div class="daily_journal_header">
        <div class="dateContainer">
            <h2 style="color: #fff;" id="theDate"></h2>
        </div>
        <div class="theCurrentDay">
            <h2 id="theDay"></h2>
        </div>
        <div class="dateContainer">
            <h2 style="color: #fff;" id="theDays"></h2>
        </div>
        <!-- This script highlights the current day out of the 7 days of the week -->
        <script>
            var days = ['Sun ','Mon ','Tue ','Wed ','Thu ','Fri ','Sat'];
            var fullDays = ['Sunday', 'Monday', 'Tuesday','Wednesday','Thursday','Friday','Saturday'];
            n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("theDate").innerHTML = m + "/" + d + "/" + y;
            var day = days[n.getDay()];
            for(var i = 0; i < days.length; i++) {
                if (day == days[i]) {
                    document.getElementById("theDay").style.color = '#0CB4B4'
                    document.getElementById("theDay").innerHTML = fullDays[i]
                } else {
                    document.getElementById("theDays").innerHTML += days[i]
                }
            }
        </script>
    </div>
        <div class="daily_journal_container">
            <div class="journal_container">
                <h1>Daily Recap</h1>
                <div class="openFormContainer" id="OpenFormContainer">
                    <button id="openRecapForm">Fill In Daily Recap Form</button>
                </div>
                <!-- This form is the users recap of their day -->
                <form action="{% url 'daily_journal' %}" method="POST" class="recapForm" id="RecapForm">
                    {% csrf_token %}
                    <div class="recapContainer">
                        <div class="gratitudeList">
                            <h3>Gratitude List</h3>
                            <ol>
                                <li>{{ recapForm.gratitude1 }}</li>
                                <li>{{ recapForm.gratitude2 }}</li>
                                <li>{{ recapForm.gratitude3 }}</li>
                            </ol>
                        </div>
                        <div class="dailyWins">
                            <h3>My Daily Wins</h3>
                            <ol>
                                <li>{{ recapForm.win1 }}</li>
                                <li>{{ recapForm.win2 }}</li>
                                <li>{{ recapForm.win2 }}</li>
                            </ol>
                        </div>
                        <div class="recapSubmit">
                            <button id="submitDailyRecap">Submit Daily Recap</button>
                        </div>
                    </div>
                    <div class="recapContainer">
                        <div class="favoriteThing">
                            <h3>Favorite Thing About Today?</h3>
                            {{ recapForm.favoriteThing }}
                        </div>
                        <div class="lessonsLearned">
                            <h3>Lessons Learned Today?</h3>
                            {{ recapForm.lessonsLearned }}
                        </div>
                        <div class="beBetter">
                            <h3>How Can I be Better Tomorrow?</h3>
                            {{ recapForm.betterTomorrow }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="journal_spacing">
                <span></span>
            </div>
            <div class="task_container">
                <h1>To Do List</h1>
                <!-- Create a task -->
                <form method="POST" action="{% url 'daily_journal' %}">
                    {% csrf_token %}
                    <p>{{ taskForm.title }}</p>
                    <input style="display: none" type="submit" value="Enter">
                </form>
                <!-- Show tasks -->
                {% for task in tasks %}
                    <div class="todo_list">
                        <!-- Add JS to make delete fade nice -->
                        <a href="{% url 'task_delete' pk=task.pk %}">
                            <p class="far fa-square"></p>
                            <p class="far fa-check-square"></p>
                        </a>
                        {{ task }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <a class="journal_btn" id="todoJournal" href="{% url 'calendarr' %}"><i class="fas fa-chevron-right"></i></a>

{% endblock %}
