{% extends 'journal/base.html' %}

{% block title %}Weekly Journal{% endblock %}

{% block content %}

    <table class="week_table">
        <thead>
            <tr class="week_header">
                <td></td>
                <th colspan="2">Activity</th>
                <th>Goal</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr class="week_body">
                <th><a href="" id="activityButton" class="fas fa-plus fa-2x"></a></th>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
        </tbody>
    </table>


{% endblock %}
